name: Integration Tests

on:
  pull_request:
    branches: [ develop ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest requests minio

      - name: Build Docker Compose Containers
        run: |
          cp example.env .env
          docker compose -f docker-compose-develop.yml build 

      - name: Spin Up Docker Compose and Run Tests
        run: pytest tests/test_integration.py -v

      - name: Ensure that Docker Compose is Shutdown
        if: always()
        run: docker compose down
